<!DOCTYPE html>
<html>
<head>
  <title>Data Processor</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC|Oswald:300,400|Open+Sans+Condensed:300,700|Nunito' rel='stylesheet' type='text/css'>
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link rel="stylesheet" type="text/css" href="../css/731438.css"/>
  <%= javascript_include_tag :defaults %>
</head>
<body>
<html>
<head>
  <meta charset="UTF-8">

  <title>Data Processor</title>

  <link href="style.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">

</head>

<body>

<%= yield %>

</body>
</html>
